canvas {
    display: block;
    width: 620px;
    height: 180px;
}
    
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    background-color: #2d353cd2;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}


.c3-axis-y text {
    fill: #f2f2f2;
    font-size: 12px;
}


.c3-axis-x text {
    fill: #f2f2f2;
    font-size: 12px;
}

.c3-axis-x .tick {
    fill: #f2f2f2;
}

.c3-axis-x path,
.c3-axis-x line {
    stroke: #f2f2f2;
}

.c3-axis-y .tick {
    fill: #f2f2f2;
}

.c3-axis-y path,
.c3-axis-y line {
    stroke: #f2f2f2;
}

.c3-legend-item {
    fill: #f2f2f2;
}

.c3-legend-item title {
    font: 14px sans-serif;
    color: #f2f2f2;
}

table {
    gap: 10px;
}

table,
th,
td {
    border: 2px solid #2d353cd2;
    border-collapse: collapse;
    gap: 10px;
}

th,
td {
    padding: 5px;
    text-align: left;
}

p#sectionTitles {
    color: #f2f2f2;
    font-size: 17px;
}

p#sectionTitles em {
    font-weight: bold;
    color: #60b044;
}

.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}